/**
 * @file
 * Styling for Entity Visibility Preview module displays.
 */

.evp-display-taxonomy-container .item-list ul {
  list-style: none;
}
.evp-display-taxonomy-container .item-list ul > li {
  margin: 0;
  list-style: none;
}
.evp-display-taxonomy-container .item-list ul ul li {
  margin-left: 20px;
  list-style: initial;
}
.evp-display-taxonomy-container h3 {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
}
