/**
 * @file
 * Styling for Entity Visibility Preview module toolbar.
 */

.toolbar .toolbar-bar .toolbar-icon-entity-visibility-preview::before {
  background-image: url(../icons/bebebe/eye.svg);
}

.toolbar-bar .toolbar-icon-entity-visibility-preview:active::before,
.toolbar-bar .toolbar-icon-entity-visibility-preview.is-active::before {
  background-image: url(../icons/ffffff/eye.svg);
}
