/**
 * @file
 * Styling for Entity Visibility Preview module displays.
 */

.evp-taxonomy-checkboxes-widget .term-depth-1 {
  margin-left: 15px;
}
.evp-taxonomy-checkboxes-widget .term-depth-2 {
  margin-left: 30px;
}
.evp-taxonomy-checkboxes-widget .term-depth-3 {
  margin-left: 45px;
}
.evp-taxonomy-checkboxes-widget .term-depth-4 {
  margin-left: 60px;
}
.evp-taxonomy-checkboxes-widget .term-depth-5 {
  margin-left: 75px;
}
.evp-taxonomy-checkboxes-widget .term-depth-6 {
  margin-left: 90px;
}
.evp-taxonomy-checkboxes-widget .term-depth-7 {
  margin-left: 105px;
}
.evp-taxonomy-checkboxes-widget .term-depth-8 {
  margin-left: 120px;
}
.evp-taxonomy-checkboxes-widget .term-depth-9 {
  margin-left: 135px;
}
